
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.online::before{
  content: "online";
  position: relative;
  color: green;
  bottom: -73%;
  left: 11%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 74, 74); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #382d2d; 
}