.notfound
{
  width: 100%;
  position: fixed;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  padding-bottom: 15px;
  z-index: 100;
  margin: 500px;
}
